body{
    display: grid;
    grid-template-columns: 1fr 60em 1fr ;
    grid-template-rows: 10vh 90vh 80vh 10vh;
}
button {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: auto;
}
  
button:hover {
    background-color: black;
    color: white;
}
h1,h2{
    position: relative;
    align-self: center;
}
.var{
    visibility: hidden;
}
.place{
    padding: 0.5rem;
    width: 5rem;
}
.imgplace{
    height: 2rem;
    width: 3rem;
}
.rcorners1 {
    border-radius: 2rem;
    background: gray;
    padding: 0.5rem; 
}
#mapandsidebar{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr 10em 8fr 1fr;
    grid-template-rows: 2/3;
}
#bottombox{
    grid-row: 3/4;
}
#sidebar{
    grid-column: 2/3;
}
#navbar{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: gray;
}
#buttons{
    padding: 00.25rem;
}
#topOfBar{
    background-color: red;
    padding: 1rem;
}
#xbox{
    padding-top: 0.25rem;
    font-weight: bold;
}
#xbox:hover{
    color: red;
}
#leftlowerbox{
    padding: 5rem;
}
#rightlowerbox{
    padding: 5rem;
}
#mapbox{
    grid-column: 3/4;
    padding: 0.5rem;
}
#quitbutton{
    padding: 1rem;
    align-self: right;
}