/*old reliable*/

button {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: auto;
}
  
button:hover {
    background-color: black;
    color: white;
}
h1,h2{
    position: relative;
    align-self: center;
}
.var{
    visibility: hidden;
}

/*grid formating stuff*/
  
  .content {
    color: #242424;
    background-color: gray;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 0.5rem;
  }
  
/*navbar stuff*/
  
  .menu-bar {
    background-color: gray;
  }
  
  .buttons {
    color: black;
    background-color: transparent;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 1vw 2vw;
    float: right;
    margin-left: 1rem;
  }
  
  .title {
    font-weight: 600;
    color: black;
    background-color: transparent;
    font-size: 1rem;
    float: left;
    box-sizing: border-box;
    padding: 1vw 2vw;
  }
  
  .buttons:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .item{
    background-color: white;
    font-size: 1rem;
    box-sizing: border-box;
    height: 2rem;
    margin: 0.5rem;
  }
  .itemphoto{
    height: 2rem;
    width: 2rem;
    float: left;
  }
  .xbox{
    float: right;
    padding-right: 0.125rem;
  }
  .xbox:hover{
    color: red;
  }
  .name{
    border: 1rem;
    color: black;
  }

  /* bootstrap upgrades*/
  #sidebar{
    font-weight: 600;
    background-color: gray;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 00.5rem;
  }

  #topbar{
    background-color: gray;
  }

  #mapbox{
    height: 85vh;
  }
