<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <script src="../Static/Js/main.js"></script>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <link href="../Static/CSS/Style.css" rel="stylesheet" type="text/css"> 
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body>
        <div class="grid">
            <header class="page-header">
                <div class="content menu-bar">
                    <a class="title">Site Title</a>
                    <button class="buttons" onclick="quit()">Quit</button>
                    <button class="buttons" onclick="save()">save</button>
                    <button class="buttons" onclick="load()">load</button>
                </div>
                <div id="entry">
                </div>
            </header>
            <aside class="page-leftbar">
                <div class="content">
                    <div id="topofbar">
                        <label for="places">Places:</label>
                        <select name="places" id="places">
                            <option value="0">Alexandra</option>
                            <option value="1">Blenheim</option>
                            <option value="2">Christchurch</option>
                            <option value="3">Collingwood</option>
                            <option value="4">Cromwell</option>
                            <option value="5">Dunedin</option>
                            <option value="6">Franz Josef</option>
                            <option value="7">Geraldine</option>
                            <option value="8">Gore</option>
                            <option value="9">Greymouth</option>
                            <option value="10">Haast</option>
                            <option value="11">Invercargill</option>
                            <option value="12">Kaikoura</option>
                            <option value="13">Lake Tekapo</option>
                            <option value="14">Milford Sound</option>
                            <option value="15">Mount Cook</option>
                            <option value="16">Murchison</option>
                            <option value="17">Nelson</option> 
                            <option value="18">Oamaru</option>
                            <option value="19">Picton</option>
                            <option value="20">Queenstown</option>
                            <option value="21">Te Anau</option>
                            <option value="22">Timaru</option>
                            <option value="23">Twizel</option>
                            <option value="24">Wanaka</option>
                            <option value="25">Westport</option>
                      </select>
                        <div id="buttonset">
                            <button onclick="addPlaceWithDropDown()">Add</button>
                            <button onclick="clearList()">reset</button>
                            <button onclick="calFuelAndDis()">cal</button>
                        </div>
                        <div id="listarea">
                            <div class="item">
                                <img class="itemphoto" src="../Static/img/external-deuhiufsguiyvgdsiufer.jpg" alt="">
                                <div class="name">
                                    <p class="name">Te Anau<a class="xbox">x</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </aside>
            <main class="page-main">
                <div class="content">
                    <div id="mapbox">
                        <img src="">
                    </div>
                </div>
            </main>
            <footer class="page-footer">
                <div class="content">
                    <p>Footer</p>
                </div>
            </footer>
        </div>
    </body>
    <footer>
    </footer>
</html>